* linguist-vendored
*.py linguist-vendored=false
*.py linguist-language=Python
*.glyphs linguist-language=OpenStep-Property-List
*.py linguist-language=python
*.py linguist-language=Python
*.py linguist-language=PYTHON
